/lib/
/bin/
/.shards/
*.dwarf
build/
hokusai-pocket-project/
pocket/
.vscode/
node_modules/
tmp/
vendor/
examples/
automation-tmp
barista.lock
docker/
platforms/
.DS_Store
src/pocket.c
src/whisper_model.h
docs/.vitepress/cache
docs/.vitepress/dist
scripts/