name: test
on: push
jobs:
  test-linux:
    runs-on: ubuntu-latest
    container:
      image: ubuntu:latest
    steps:
      - name: deps
        run: apt-get update -y && apt-get install -y git cmake automake libtool ruby clang build-essential libasound2-dev libgl1-mesa-dev libglu1-mesa-dev libx11-dev libxi-dev libxrandr-dev mesa-common-dev xorg-dev
      - uses: actions/checkout@v5
      - uses: dsaltares/fetch-gh-release-asset@master
        with:
          repo: 'skinnyjames/mruby-bin-barista'
          version: 'tags/0.2.7'
          file: 'barista-linux-x86.tar.gz'
          target: 'barista.tar.gz'
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: unpack barista
        run: tar -xvf barista.tar.gz --strip-components 1
      - name: build pocket
        run: chmod 755 barista && ./barista cli
      - name: test
        run: bin/hokusai-pocket run:target=test/entrypoint.rb
  test-osx:
    runs-on: macos-15-intel
    steps:
      - uses: actions/checkout@v5
      - uses: dsaltares/fetch-gh-release-asset@master
        with:
          repo: 'skinnyjames/mruby-bin-barista'
          version: 'tags/0.2.7'
          file: 'barista-osx-x86.tar.gz'
          target: 'barista.tar.gz'
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: unpack barista
        run: tar -xvf barista.tar.gz --strip-components 1
      - name: deps
        run: brew install automake
      - name: build pocket
        run: chmod 755 barista && ./barista cli
        shell: bash
      - name: test
        run: bin/hokusai-pocket run:target=test/entrypoint.rb
  test-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v5
      - name: Setup Ninja
        uses: ashutoshvarma/setup-ninja@master
        with:
          version: 1.10.0
      - uses: dsaltares/fetch-gh-release-asset@master
        with:
          repo: 'skinnyjames/mruby-bin-barista'
          version: 'tags/0.2.7'
          file: 'barista-windows-x86.tar.gz'
          target: 'barista.tar.gz'
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: unpack barista
        run: tar -xvf barista.tar.gz --strip-components 1
      - name: build pocket
        run: chmod 755 barista && ./barista cli
        shell: bash
      - name: test
        run: bin/hokusai-pocket run:target=test/entrypoint.rb
